:root {
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}


@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url(media/fonts/montserrat/Montserrat-ExtraBold.otf);
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(media/fonts/montserrat/Montserrat-Bold.otf);
}

@font-face {
    font-family: "Montserrat-Black";
    src: url(media/fonts/montserrat/Montserrat-Black.otf);
}

/* ~~~~~ HEADER ~~~~~ */



@media only screen and (max-width: 600px) {
    
}